@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">Contactanos</h2>

    <address>
        Felipe Pulido <a href="">afpulidos@udistrital.edu.co</a><br />
        Sebastian Colorado<a href="">jscoloradoc@udistrital.edu.co</a><br />
        Victor Torres<a href="">vmtorresb@udistrital.edu.co</a><br />
    </address>
</main>