@{
    ViewBag.Title = "Home Page";
}
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Critica y Evaluación de Contenido</h1>
        <p class="lead">En esta página se encontrará una aplicacion web generada a patir de un modelo relacional, el cual desde la barra de navegación se podra acceder a la información requerida por el usuario para crear contenido que sea evaluado y criticado desde diferentes categorias.</p>
        <p><a href="https://localhost:44399/Usuarios" class="btn btn-primary btn-md">Registrate &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Crea una reseña</h2>
            <p>
                Oprime el siguiente botón y genera contenido de una reseña en donde podras diseñar tus propias especificaciones.
            </p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44399/Reseña"> Crea &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Crea una noticia</h2>
            <p>En el siguiente apartado puede generar una noticia del mundo para evaluar y criticar, especialmente referida a un personaje de culaquier categoria.</p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44399/Noticias"> Crea &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Comenta a tu gusto</h2>
            <p>También puedes generar comentarios acerca de las reseñas o en general acerca de distintos personajes, donde se evidencia la subjetividad de tu opinion.</p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44399/ComentarioSets">Comenta &raquo;</a></p>
        </section>
    </div>
</main>